<div
  class="wrapper"
  appMovement
  right="{{ right }}"
  left="{{ left }}"
  up="{{ up }}"
  down="{{ down }}"
>
  <app-particles></app-particles>
  <div class="welcome">
    <p>Bonjour, Adil here!</p>
  </div>
  <i class="material-icons left" (click)="routeTo('blog')">
    keyboard_arrow_left
  </i>
  <em class="left_description" (click)="routeTo('blog')">BLOG/ARTICLES</em>
  <i class="material-icons right" (click)="routeTo('photos')">
    keyboard_arrow_right
  </i>
  <em class="right_description" (click)="routeTo('photos')">PHOTOS/VIDEOS</em>
  <i class="material-icons down" (click)="routeTo('professional')">
    keyboard_arrow_down
  </i>
  <em class="down_description" (click)="routeTo('professional')">RESUME/EXPERIENCE</em>
</div>
<app-social></app-social>