.wrapper {
  position: relative;
  height: calc(100vh - 120px);
  width: 100vw;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
.content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}
.xyz {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: auto;
  margin-right: auto; */
  width: 95%;
  /* background-color: red; */
  height: auto;
}

p {
  color: green;
  text-align: center;
  font-size: 25px;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
/* 'https://media.giphy.com/media/5xtDarqCp0eomZaFJW8/giphy.gif' */

@media (min-width: 320px) and (max-width: 480px) {
  .xyz{
    top : 4%;
  }
}