.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}
.wrapper > div{
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper > .welcome > p{
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: whitesmoke;
}

.left{
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  cursor: pointer;
}
.left_description{
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 40px; 
  /* //media */
  font-family: 'Righteous', cursive;
  cursor: pointer;
  color: rgb(173, 179, 188);
  margin-left: 20px;
}
.left_description:hover{
  color: rgb(182, 162, 239);
}

.right{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  cursor: pointer;
}
.right_description{
  margin-right: 20px;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  /* //media */
  font-family: 'Righteous', cursive;
  cursor: pointer;
  color: rgb(173, 179, 188);
}
.right_description:hover{
  color: rgb(182, 162, 239);
}

.down{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.down_description{
  margin-bottom: 10px;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px; 
  /* //media */
  font-family: 'Righteous', cursive;
  cursor: pointer;
  color: rgb(173, 179, 188);
}
.down_description:hover{
  color: rgb(182, 162, 239);
}

.material-icons {
  font-size: 50px;
  color: white;
}

@media (min-width:320px)  {
  .right_description , .left_description, .down_description{
    font-size: 15px;
  }
  .wrapper > .welcome > p{
    font-size: 75px;
  }
}
@media (min-width:481px)  {
  .right_description , .left_description, .down_description{
    font-size: 20px;
  }
  .wrapper > .welcome > p{
    font-size: 80px;
  }
}
@media (min-width:641px)  {
  .right_description , .left_description, .down_description{
    font-size: 24px;
  }
  .wrapper > .welcome > p{
    font-size: 90px;
  }
}
@media (min-width:961px)  {
  .right_description , .left_description, .down_description{
    font-size: 30px;
  }
  .wrapper > .welcome > p{
    font-size: 100px;
  }
  
}
@media (min-width:1025px) {
  .right_description , .left_description, .down_description{
    font-size: 40px;
  }
  .wrapper > .welcome > p{
    font-size: 120px;
  }
}
@media (min-width:1281px) {
  .right_description , .left_description, .down_description{
    font-size: 40px;
  }
  .wrapper > .welcome > p{
    font-size: 140px;
  }
}