<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="images">
        <img
          (click)="navigateTo('https://www.instagram.com/_._._adil_._._')"
          src="../../../../../assets/images/instagramlogo.png"
          alt=""
          class="img img-responsive img-circle"
        />
        <img
          (click)="navigateTo('https://www.facebook.com/adil.maq.90')"
          src="../../../../../assets/images/facebooklogo.png"
          alt=""
          class="img img-responsive img-circle"
        />
        <img
          (click)="navigateTo('https://www.linkedin.com/in/aaadilmaq0/')"
          src="../../../../../assets/images/linkedinlogo.png"
          alt=""
          class="img img-responsive img-circle"
        />
        <img
          (click)="navigateTo('https://www.github.com/aaadilmaq0/')"
          src="../../../../../assets/images/githublogo.png"
          alt=""
          class="img img-responsive img-circle"
        />
      </div>
    </div>
  </div>
</div>
