div{
    max-height:100%;
    overflow:hidden;
    background-color: blue;
    background-size: cover;
    background-position: center;
}

/* url('https://media.giphy.com/media/11sBLVxNs7v6WA/giphy.gif') */