<mat-card [ngStyle]="{'background-color': color, 'color':colorContrast}" class="example-card">
  <mat-card-header>
    <img *ngIf="blog.name != 'Adil'" mat-card-avatar [src]="blog.dpPath" alt="">
    <img *ngIf="blog.name == 'Adil'" mat-card-avatar src="../../../../../assets/images/me.png" alt="">
    <mat-card-title> {{ blog.title }}</mat-card-title>
    <mat-card-subtitle [ngStyle]="{'color': colorContrast}"> {{ blog.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{blog.content.substring(0,25)}} ...
    </p>
    <hr style="margin-bottom:5px">
    {{blog.dateTime | date:'medium'}}
  </mat-card-content>
</mat-card>
