<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">
    <i *ngIf=" up!='' " class="material-icons" (click)="onNavigate(up)">
      expand_less
    </i>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <i *ngIf=" left!='' " class="material-icons" (click)="onNavigate(left)">
      chevron_left
    </i>
  </div>
  <div class="grid-item">
    <i id="home" class="material-icons" (click)="onNavigate(home)">
      home
    </i>
  </div>
  <div class="grid-item">
    <i *ngIf=" right!='' " class="material-icons" (click)="onNavigate(right)">
      chevron_right
    </i>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <i *ngIf=" down!='' " class="material-icons" (click)="onNavigate(down)">
      expand_more
    </i>
  </div>
  <div class="grid-item"></div>
</div>