.grid-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  width: 120px;
  height: 120px;
}

.grid-item {
  position: relative fixed;
  background-color: transparent;
  text-align: center;
  height: 40px;
    width: 40px;
}

.material-icons {
  position: relative fixed;
  cursor: pointer;
  color: whitesmoke;
  font-size: 40px;
}

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}